﻿@model ProjectPA.ApplicationService.Employees.Commands.EmployeeCreate

@{
    ViewData["Title"] = "CreateEmployee";
}

<h1>CreateEmployee</h1>

<h4>EmployeeCreate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" id="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" id="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherName" class="control-label"></label>
                <input asp-for="FatherName" id="FatherName" class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationCode" class="control-label"></label>
                <input asp-for="NationCode" id="NationCode" class="form-control" />
                <span asp-validation-for="NationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" id="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input type="file" asp-for="Picture" id="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>

        </form>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" onclick="AjaxFormSubmit()" />
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
   <script>
       function AjaxFormSubmit() {
       
           var url = "/api/Employees/Create";
           var fdata = new FormData();
           fdata.append("LName",$("#LName").val());
           fdata.append("FName", $("#FName").val());
           fdata.append("NationCode", $("#NationCode").val());
           fdata.append("Mobile", $("#Mobile").val());
           fdata.append("FatherName", $("#FatherName").val());
           fdata.append("Picture", $("#Picture").prop("files")[0]);


           $.ajax({
               url: url,
               method: "POST",
               contentType: false,
               processData: false,
               data: fdata,
               headers: { "Authorization": getCookie("token") },
               success: function (resultData) {

                   console.log(getCookie("token"));
                   setCookie("token", "Bearer " + resultData.token, 1);
                   window.location.replace("index")
               },

           });
           function getCookie(cname) {

               let name = cname + "=";
               let decodedCookie = decodeURIComponent(document.cookie);
               let ca = decodedCookie.split(';');
               for (let i = 0; i < ca.length; i++) {
                   let c = ca[i];
                   while (c.charAt(0) == ' ') {
                       c = c.substring(1);
                   }
                   if (c.indexOf(name) == 0) {
                       return c.substring(name.length, c.length);
                   }
               }
               return "";
           }
       }
   </script>
}
