﻿@model ProjectPA.ApplicationService.UserProfiles.Commands.UserLogin

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h1>Login</h1>

<h4>UserLogin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="myForm" method="post" asp-action="Login" asp-controller="Home">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" id="txtUserName" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" id="txtPassword" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

        </form>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary" onclick="AjaxFormSubmit()" />
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        function AjaxFormSubmit() {
            //Set the URL.
            var url = "/api/user/login";// $("#myForm").attr("action");

            
            var userName=$("#txtUserName").val();
            var password = $("#txtPassword").val();
            var data = {
                userName: userName, password: password
            };
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify(data),
                Accept: "application/json",
                contentType: "application/json",
                dataType: "json",
                success: function (resultData) {
                    
                    console.log(getCookie("token"));
                    setCookie("token", "Bearer " + resultData.token, 1);
                    window.location.replace("index")
                },

            });
         
        }
        function getCookie(cname) {

            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
    
    </script>
}
